@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.ring-pulse {
  animation: pulse 2s infinite;
}

@keyframes ringAppear {
  from {
    opacity: 0;
  }
  to {
  }
}

.animate-ringAppear {
  animation: ringAppear 1.2s ease-out forwards;
}

/* Медиа-запросы для мобильных устройств */
@media (max-width: 767px) {
  body {
    font-size: 16px;
  }

  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
